<div class="details-content">
  <div class="details-header">
    <div class="image-container">
      <img
        class="property-photo"
        src="https://maps.googleapis.com/maps/api/streetview?channel=mb-pdp-publicrecord&location=42.8982754%2C-88.1341907&size=1072x488&source=outdoor&client=gme-redfin&signature=S4KDejGoidnXowPhGV_Kf3VKWGc="
      />
    </div>
    <h1 class="property-heading">
      <span class="property-address">W176S8092 Joel Dr</span>
      <span class="property-city-state">Muskego, Wisconsin 53150</span>
    </h1>
  </div>
  <div class="details-container">
    <div class="details-col">
      <div class="structure-details">
        <h2 class="structure-details-heading">Structure Details</h2>
        <ul>
          <li>
            <span>Bedrooms:</span>
            <span>4</span>
          </li>
          <li>
            <span>Bathrooms:</span>
            <span>5</span>
          </li>
          <li>
            <span>Size:</span>
            <span>2,300 Sq Ft</span>
          </li>
          <li>
            <span>Year Built:</span>
            <span>1990</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
