<div class="details-content">
  <div class="details-header">
    <div class="image-container">
      <img
        class="property-photo"
        src="https://maps.googleapis.com/maps/api/streetview?channel=mb-pdp-publicrecord&location=42.8982754%2C-88.1341907&size=1072x488&source=outdoor&client=gme-redfin&signature=S4KDejGoidnXowPhGV_Kf3VKWGc="
      />
    </div>
  </div>
  <div class="details-container">
    <div class="overview-section">
      <h1 class="heading">Overview</h1>
      <h2 class="property-heading">
        <span class="property-address">W176S8092 Joel Dr</span>
        <span class="property-city-state">Muskego, WI 53150</span>
      </h2>
      <div class="overview-values">
        <div>
          <div class="overview-value">4</div>
          <span class="overview-label">Beds</span>
        </div>
        <div>
          <div class="overview-value">5</div>
          <span class="overview-label">Baths</span>
        </div>
        <div>
          <div class="overview-value">2,300</div>
          <span class="overview-label">Sq Ft</span>
        </div>
        <div>
          <div class="overview-value">1990</div>
          <span class="overview-label">Year Built</span>
        </div>
      </div>
    </div>
    <div class="details-section">
      <h2 class="heading">Interior</h2>
      <div class="section-content">
        <div class="section-group">
          <ul>
            <div class="no-break-inside">
              <div class="group-header">Bathroom Information</div>
              <li class="group-item"># of Full Baths: 4</li>
              <li class="group-item"># of Half Baths: 1</li>
            </div>
          </ul>
        </div>
        <div class="section-group">
          <ul>
            <div class="no-break-inside">
              <div class="group-header">Basement Information</div>
              <li class="group-item">Basement Sq. Ft: 1,462</li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
