.details-content {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-areas:
    ". header header ."
    ". container . .";
  gap: 1rem;
}

.details-header {
  grid-area: header;
}

.image-container {
  overflow: hidden;
  border-radius: 6px;
}

.property-photo {
  object-fit: cover;
  height: calc(50vh + 0.5rem);
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  transition: opactiy 2s, transform 2s;
}

img:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.property-heading {
  margin-bottom: 15px;
}

.property-address {
  font-size: 1rem;
  font-weight: 700;
  color: #222;
  padding-right: 0.5rem;
  display: block;
}

.property-city-state {
  font-size: 1rem;
  font-weight: 400;
  color: #676767;
}

.details-container {
  display: flex;
  flex-direction: column;
  grid-area: container;
}

.details-col {
  vertical-align: top;
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}

.overview-section {
  border: 1px solid #d7d7d7;
  border-radius: 12px;
  background-color: #fff;
  padding: 1.5rem 1rem;
}

.heading {
  font-size: 18pt;
  margin-bottom: 15px;
}

.overview-values {
  display: inline-flex;
  gap: 3rem;
  margin-top: 1rem;
}

.overview-value {
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 1.25;
}

.overview-label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #676767;
}

.details-section {
  display: flex;
  column-count: 2;
  border: 1px solid #d7d7d7;
  border-radius: 12px;
  background-color: #fff;
  padding: 1.5rem 1rem;
}

.no-break-inside {
  break-inside: avoid;
}

.section-group {
  margin-bottom: 0.75rem;
}

.group-header {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

.group-item {
  margin-left: 0.5rem;
}

ul {
  list-style: none;
}
